<form
  (submit)="register()" autocomplete="off" [formGroup]="registerForm">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
  <div class="mb-3">
    <input type="text" class="form-control"
           formControlName="username"
           placeholder="Username">
  </div>

  <div class="mb-3">
    <input type="password" class="form-control"
           formControlName="password"
           placeholder="Password">
  </div>

  <div class="mb-3">
    <input type="password" class="form-control"
           formControlName="confirmPassword"
           placeholder="Password">
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-lg me-2">Register</button>
    <button  class="btn btn-default btn-lg me-2" type="button" (click)="cancel()">Cancel</button>

  </div>
</form>

Value {{registerForm.value | json}}
